<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Default root level is INFO -->
    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
    
    <!-- Ktor framework logging -->
    <logger name="io.ktor" level="${KTOR_LOG_LEVEL:-INFO}"/>
    
    <!-- Application logging - DEBUG shows detailed task operations -->
    <logger name="com.ninjacontrol.knutpunkt" level="${APP_LOG_LEVEL:-DEBUG}"/>
    
    <!-- Suppress Netty event loop errors during shutdown -->
    <!-- These are harmless race conditions when JVM is shutting down -->
    <logger name="io.netty.util.concurrent.DefaultPromise" level="OFF"/>
    <logger name="io.netty.util.internal.logging" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
